USE [master]
GO
/****** Object:  Database [ELCLIENTE]    Script Date: 23/04/2025 4:00:52 p. m. ******/
CREATE DATABASE [ELCLIENTE]
USE [ELCLIENTE]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 23/04/2025 4:00:53 p. m. ******/

CREATE TABLE [dbo].[cliente](
	[id] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellidos] [varchar](100) NOT NULL,
	[ciudad] [varchar](100) NOT NULL,
	[cli_monto] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[disponibilidad]    Script Date: 23/04/2025 4:00:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[disponibilidad](
	[idSucursal] [int] NOT NULL,
	[idProducto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSucursal] ASC,
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inscripcion]    Script Date: 23/04/2025 4:00:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inscripcion](
	[idProducto] [int] NOT NULL,
	[idCliente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC,
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 23/04/2025 4:00:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[tipoProducto] [varchar](100) NOT NULL,
	[prod_monto_minimo] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sucursal]    Script Date: 23/04/2025 4:00:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sucursal](
	[id] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[ciudad] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transacciones_inscripcion]    Script Date: 23/04/2025 4:00:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transacciones_inscripcion](
	[tr_id] [int] IDENTITY(1,1) NOT NULL,
	[tr_idcliente] [int] NOT NULL,
	[tr_idproducto] [int] NOT NULL,
	[accion] [varchar](20) NOT NULL,
	[fechaTransaccion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[visitan]    Script Date: 23/04/2025 4:00:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visitan](
	[idSucursal] [int] NOT NULL,
	[idCliente] [int] NOT NULL,
	[fechaVisita] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSucursal] ASC,
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[cliente] ([id], [nombre], [apellidos], [ciudad], [cli_monto]) VALUES (1, N'david', N'franco', N'Manizales', 425000.0000)
INSERT [dbo].[cliente] ([id], [nombre], [apellidos], [ciudad], [cli_monto]) VALUES (2, N'david prueba', N'hernandez', N'Riosucio', 500000.0000)
INSERT [dbo].[cliente] ([id], [nombre], [apellidos], [ciudad], [cli_monto]) VALUES (3, N'prueba administrador', N'admin', N'Pereira', 500000.0000)
GO
INSERT [dbo].[disponibilidad] ([idSucursal], [idProducto]) VALUES (1, 1)
GO
INSERT [dbo].[inscripcion] ([idProducto], [idCliente]) VALUES (1, 1)
GO
INSERT [dbo].[producto] ([id], [nombre], [tipoProducto], [prod_monto_minimo]) VALUES (1, N'FPV_EL CLIENTE_RECAUDADORA
', N'FPV', 75000.0000)
INSERT [dbo].[producto] ([id], [nombre], [tipoProducto], [prod_monto_minimo]) VALUES (2, N'FPV_EL CLIENTE_ECOPETROL
', N'FPV', 125000.0000)
INSERT [dbo].[producto] ([id], [nombre], [tipoProducto], [prod_monto_minimo]) VALUES (3, N'DEUDAPRIVADA', N'FIC', 50000.0000)
GO
INSERT [dbo].[sucursal] ([id], [nombre], [ciudad]) VALUES (1, N'prueba', N'prueba')
GO
SET IDENTITY_INSERT [dbo].[transacciones_inscripcion] ON 

INSERT [dbo].[transacciones_inscripcion] ([tr_id], [tr_idcliente], [tr_idproducto], [accion], [fechaTransaccion]) VALUES (4, 3, 1, N'INSERT', CAST(N'2025-04-22T09:24:38.870' AS DateTime))
INSERT [dbo].[transacciones_inscripcion] ([tr_id], [tr_idcliente], [tr_idproducto], [accion], [fechaTransaccion]) VALUES (5, 3, 1, N'Delete', CAST(N'2025-04-22T09:59:25.977' AS DateTime))
INSERT [dbo].[transacciones_inscripcion] ([tr_id], [tr_idcliente], [tr_idproducto], [accion], [fechaTransaccion]) VALUES (6, 3, 1, N'Delete', CAST(N'2025-04-22T10:50:33.857' AS DateTime))
SET IDENTITY_INSERT [dbo].[transacciones_inscripcion] OFF
GO
INSERT [dbo].[visitan] ([idSucursal], [idCliente], [fechaVisita]) VALUES (1, 1, CAST(N'2025-04-21' AS Date))
GO
ALTER TABLE [dbo].[transacciones_inscripcion] ADD  DEFAULT (getdate()) FOR [fechaTransaccion]
GO
ALTER TABLE [dbo].[disponibilidad]  WITH CHECK ADD FOREIGN KEY([idProducto])
REFERENCES [dbo].[producto] ([id])
GO
ALTER TABLE [dbo].[disponibilidad]  WITH CHECK ADD FOREIGN KEY([idSucursal])
REFERENCES [dbo].[sucursal] ([id])
GO
ALTER TABLE [dbo].[inscripcion]  WITH CHECK ADD FOREIGN KEY([idCliente])
REFERENCES [dbo].[cliente] ([id])
GO
ALTER TABLE [dbo].[inscripcion]  WITH CHECK ADD FOREIGN KEY([idProducto])
REFERENCES [dbo].[producto] ([id])
GO
ALTER TABLE [dbo].[visitan]  WITH CHECK ADD FOREIGN KEY([idCliente])
REFERENCES [dbo].[cliente] ([id])
GO
ALTER TABLE [dbo].[visitan]  WITH CHECK ADD FOREIGN KEY([idSucursal])
REFERENCES [dbo].[sucursal] ([id])
GO
USE [master]
GO
